router bgp {{ bgp_as }}
{% for intf in l3_intf %}
{% if intf.name == 'Loopback0' %}
   router-id {{ intf.ipaddress }}
   network {{ intf.ipaddress }}/{{ intf.mask }}
{% endif %}
{% endfor %}
   maximum-paths 4 ecmp 4
{% for neighbor in bgp_conf %}
   neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
{% if bgp_as == neighbor.remote_as %}
   neighbor {{ neighbor.ip }} next-hop-self
{% else %}
   neighbor {{ neighbor.ip }} maximum-routes 12000
{% endif %}
{% endfor %}
   network 172.16.116.0/24